* {
  box-sizing: border-box;
}

body {
  text-align: center;
  /* outline: 20px dotted white;
  outline-offset: -22px; */
  padding-top: 98px;
}

/*Navigation bar*/
.nav {
  background-color: rgba(241, 241, 241, 1.000);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 10px 20px;
  font-family: 'Indie Flower', "Arial", cursive;
  font-weight: 900;
  font-size: 20px
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: rgba(71, 78, 93, 1.000);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms;
}

.nav ul.left {
  float: left;
  padding-left: 20px;
}

.nav ul.right {
  float: right;
  padding-right: 40px;
  word-spacing: 30px;
}

.nav a:hover {
  color: rgba(76, 113, 191, 1.000);
  text-decoration: none;
}


/* jumbotron img styling */
.jumbotron {
  text-align: center;
  margin-bottom: 0px;
  background-color: rgba(241, 241, 241, 1.000);
  color: rgba(71, 78, 93, 1.000);
  border: 20px dotted white;
}
.header h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px
}

.contact h1, p {
  text-align: center;
}

.main {
  background-image: url(../img/Mc.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: auto;
  height: 800px;
  color: white;
  font-size: 1.2em;
  font-family: 'Indie Flower', "Arial", cursive;
}

.contact-container .social p {
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

ul {
  padding-top: 20px;
  list-style-type: none;
  padding-left: 0px;
}
.social {
  display: inline;
}
.social a {
  color: white;
}
/* For bigger screen sizes */

@media screen and (min-width: 668px){
  .main {
    padding-top: 50px;
    font-size: 2.5em;

  }
  .contact-container .social p {
    margin: 40px;
    padding: 15px;
}

}
