/**********************/
/****** All pages *****/
/**********************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  position: relative;
}

/* <!-- NavBar Section -->
<!-- ****************************************************** --> */
.navbar {
  margin-bottom: 0px;
  z-index: 1;
}
.nav li a {
  font-size: 32px;
}

/* <!-- Home Section -->
<!-- ****************************************************** --> */

/* Carousel styling */
#carousel-example-generic {
  margin-top: 20px;
  z-index: 0;
}

.carousel-text {
  font-size: 30px;
  font-weight: 900;
  background-color: rgba(248, 248, 248, 0.6);
  border-radius: 25px;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}



/* <!-- About Section -->
<!-- ****************************************************** --> */

.about-section h1 {
  margin-top: 2em;
}

/* <!-- Work Section -->
<!-- ****************************************************** --> */

.work-section h2 {
  margin-top: 2.5em;
}

/* <!-- Contact Section -->
<!-- ****************************************************** --> */

#contact {
  padding-top: 50px;

  /* outline: 20px dotted white;
  outline-offset: -22px; */

}

/* jumbotron img styling */
.contact_page_jumbotron,
.faq_page_jumbotron {
  text-align: center;
  margin-bottom: 0px;
  background-color: rgba(241, 241, 241, 1.000);
  color: rgba(71, 78, 93, 1.000);
  border: 20px dotted white;

}
.contact_page_header h1,
.faq_page_header h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px
}

.contact_page_main,
.faq_page_main {
  background-image: url(../img/Mc.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: auto;
  height: 800px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.glyphicon:hover {
  text-decoration: underline;

}

.contact_page_container .social p {
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

.contact_page_container, ul {
  /* padding-top: 20px; */
  list-style-type: none;
  padding-left: 0px;
}

.social {
  display: inline;
}

.social a {
  color: white;
}

/* For bigger screen sizes */
/* @media screen and (min-width: 668px){
  .contact_page_main {
    padding-top: 50px;
    font-size: 2.5em;
  } */

  /* .contact_page_container, .social p {
    margin: 40px;
    padding: 15px;
  }
}*/

/* <!-- faq Section -->
<!-- ****************************************************** --> */
#faq{
  padding-top: 160px;
}
.faq_content_container {
  text-align: center;
  margin-top: 70px;
}
.panel-title {
  color: rgba(42, 134, 209, 1.000);
}
.panel-body {
  font-family: 'Patrick Hand SC', cursive;
  color: rgba(245, 163, 0, 1.000);
  letter-spacing: 0.2em;
}
