
* {
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  position: relative;
}

.text {
  font-size: 20px;
}



/* <!-- ****************************************************** --> */
/* <!-- NavBar Section --> */

.navbar {
  margin-bottom: 0px;
  z-index: 1;
}
.nav li a {
  font-size: 32px;
}

/* <!-- ****************************************************** --> */
/* <!-- Home Section -->

/* Carousel styling */

#carousel-example-generic {
  margin-top: 20px;
  z-index: 0;
}

.carousel-text {
  font-size: 30px;
  font-weight: 900;
  background-color: rgba(248, 248, 248, 0.6);
  border-radius: 25px;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

/* <!-- ****************************************************** --> */
/* <!-- About Section --> */

.about-section h1 {
  margin-top: 2.2em;
}

#skill-list ul {
  font-size: 14px;
  padding-top: 20px;
  list-style-type: none;
  padding: 0;
}

#skill-list li {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
}
ul#skill-list {
  padding: 0;
  font-size: 14px;
  padding-top: 20px;
  list-style-type: none;
}

/* <!-- ****************************************************** --> */
/* <!-- Work Section --> */

.work-section h2 {
  margin-top: 2.5em;
}
.work-section img calc {
  width: 50px;
  height: 50px;
}

/* <!-- ****************************************************** --> */
/* <!-- Contact Section --> */

#contact {
  padding-top: 3.5em;
}

/* jumbotron img styling */
.contact_page_jumbotron,
.faq_page_jumbotron {
  text-align: center;
  margin-bottom: 0px;
  background-color: rgba(241, 241, 241, 1.000);
  color: rgba(71, 78, 93, 1.000);
  border: 20px dotted white;

}
.contact_page_header h1,
.faq_page_header h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px
}

.contact_page_main,
.faq_page_main {
  /* Start paralax styling */
  background-image: url(../img/Mc.jpg);
  /*Add a background image*/
  background-attachment: fixed;
  /*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover;
  /*Have the background cover the entire div section*/
  color: white;
  /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
  padding:100px;
  padding-top: 50px;
  height: 400px;
  /* End paralax styling */

  background-repeat: no-repeat;
  background-size: 100%;
  width: auto;
  height: 800px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.phone-number a {
  color: white;
}

.glyphicon:hover {
  text-decoration: underline;

}

.contact_page_container .social p,
.faq_page_container .social p {
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

.contact_page_container ul {
  padding-top: 20px;
  list-style-type: none;
  padding-left: 0px;
  font-size: 1.5em;
}

.social {
  display: inline;
}

.social a {
  color: white;
}

/* <!-- ****************************************************** --> */
/* <!-- faq Section --> */

#faq{
  padding-top: 3.5em;
}

.faq_content_container {
  text-align: center;
  margin-top: 70px;
}

.panel-title {
  color: rgba(76, 113, 191, 1.000);
}

.panel-body {
  font-family: 'Patrick Hand SC', cursive;
  color: rgba(65, 201, 64, 1.000);
  letter-spacing: 0.2em;
}

/* For bigger screen sizes */
@media screen and (min-width: 668px){
  .contact_page_container, ul {
    font-size: 1.6em;
    }

  .contact_page_container, .social p {
    margin: 40px;
    padding: 15px;
    }

    #contact {
    padding-top: 3.6em;
    }

    #faq{
    padding-top: 3.6em;
    }
    .contact_page_main {
      background-position: 0% 80%
    }
}

.copyright {
  margin-top: 40px;
}

.twitter-follow-button {
   text-align: center;
}
